{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals":{
    "BigInt": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ]
}
